.App {
  text-align: center;
}

.popup-menu {
  position: relative;
}

.button {
  background-color: #0074d9;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.options-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.option {
  padding: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: #f1f1f1;
}